.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.midh {
    min-height: 600px;
}
